body {
    background-color: #111;
    color: #eee;
    font-family: 'Arial', sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
 
h1 {
    font-family: 'Creepster', cursive;
    font-size: 80px;
    color: #ff0000;
    text-shadow: 0 0 5px #ff0000;
    animation: flicker 5s infinite;
    text-align: center;
    margin-top: 40px;
}

 
@keyframes flicker {
    0%, 100% { opacity: 1; }
    97% { opacity: 0.1; }
    98% { opacity: 0.4; }
    99% { opacity: 0.8; }
}

h2, h3 {
    color: #ff5555;
}

a {
    color: #55ddff;
}

iframe {
    max-width: 100%;
    display: block;
    margin: 20px 0;
}
