body {
    background-color: #111;
    color: #eee;
    font-family: 'Arial', sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
 
h1 {
    font-family: 'Creepster', cursive;
    font-size: 80px;
    color: #ff0000;
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000;
    animation: flicker 5.5s infinite;
    text-align: center;
    margin-top: 40px;
}

@keyframes flicker {
    0% { opacity: 1; text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000; }
    10% { opacity: 0.8; text-shadow: 0 0 2px #ff0000; }
    20% { opacity: 0.5; text-shadow: none; }
    30% { opacity: 1; text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000; }
    40% { opacity: 0.9; text-shadow: none; }
    50% { opacity: 1; text-shadow: 0 0 20px #ff0000; }
    60% { opacity: 0.7; text-shadow: 0 0 2px #ff0000; }
    70% { opacity: 1; text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000; }
    80% { opacity: 0.5; text-shadow: none; }
    90% { opacity: 1; text-shadow: 0 0 15px #ff0000; }
    100% { opacity: 1; text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000; }
}

h2, h3 {
    color: #ff5555;
}

a {
    color: #55ddff;
}

iframe {
    max-width: 100%;
    display: block;
    margin: 20px 0;
}
.screenshot-fullwidth {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}
